/* 1200 PX SCREEN SIZE */
/* 1200 PX SCREEN SIZE */
/* 1200 PX SCREEN SIZE */
@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  .hero {
    column-gap: 8rem;
  }
  .img-3 {
    top: 40%;
  }

  .testimonials__block--gallery {
    grid-template-columns: repeat(6, 1fr);
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .call-to-action-form {
  }

  .grid--cols-2 {
    column-gap: 2.5rem;
  }

  .grid--cols-3 {
    column-gap: 1.5rem;
  }

  .meal__plans {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .pricing__meal {
    font-size: 2.5rem;
  }

  .testimonials__block__gallery {
    display: block;
  }
  .pricing__table--1,
  .pricing__table--2 {
    width: 100%;
  }

  .grid--cols-4 {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }

  .contact-form--block-1-2,
  .contact-form--block-3-4 {
    flex-wrap: wrap;
  }

  .contact-form--block-1-2 {
    gap: 0;
  }

  .contact-form--block-3-4 {
    gap: 4rem;
  }

  .contact-form--heading p {
    width: 100%;
  }
}
/* 1035 PX SCREEN SIZE */
/* 1035 PX SCREEN SIZE */
/* 1035 PX SCREEN SIZE */
@media only screen and (max-width: 1035px) {
  .social-media--icons {
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }
  .social-media--icons p {
    text-align: center;
  }

  .hamburger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border: none;
    color: #e67e22;
    background: none;
    z-index: 1;
  }

  .main__nav--items {
    color: white;
    /* 1) WE USE OPACITY:0 BECAUSE WE
    CANT ANIMATE THE DISPLAY:NONE PROPERTY */
    opacity: 0;
    /* 2) WE MAKE IT UNACCESSIBLE TO MOUSE AND KB */
    pointer-events: none;
    /* 3) WE HIDE IT FROM SCREEN READERS */
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease-out;
    transform: translateX(100%);
    z-index: 1;
  }

  .nav-open .main__nav--items {
    opacity: 1;
    /* 4) AFTER WE OPEN THE NAV WE WANT EVERYTHING
    BACK TO NORMAL */
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .menu-close {
    display: block;
  }

  .nav-open .menu-open {
    display: none;
  }

  .main__nav--label:visited {
    color: #555;
  }

  .img-1 {
    z-index: unset;
  }

  .main__nav--label {
    font-size: 1.25em;
    gap: 5rem;
  }

  .grid--cols-5 {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  .contact,
  .account,
  .company,
  .resources {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact,
  .account,
  .company,
  .resources,
  :is(ul) {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact li,
  .account li,
  .company li,
  .resources li {
    text-align: center;
  }

  address ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero {
    grid-template-columns: 1fr;
  }

  .hero-text {
    justify-content: center;
    align-items: center;
  }

  .hero-text h1 {
    text-align: center;
    width: 80%;
  }

  .hero-text p {
    text-align: center;
    width: 60%;
  }

  .customers {
    flex-direction: column;
  }

  .hero-imgs {
    flex-wrap: wrap;
    padding-top: 5rem;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
  }

  .hero-imgs img {
    position: initial;
    display: block;
    transform: none;
    height: 200px;
    object-fit: cover;
    /* grid-template-columns: repeat(3, 1fr); */
    width: 30%;
  }

  .img-2,
  .img-3 {
    display: none !important;
  }

  .img-1 {
    margin: 0 auto;
    width: 80% !important;
    max-width: 100%;
    height: 350px !important;
  }

  /* .img-2 {
    width: 100% !important;
    max-width: 100%;
    height: auto;
  }

  .img-3 {
    width: 100% !important;
    max-width: 100%;
    height: auto;
  } */

  .testimonials__block--gallery {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .testimonials__cluster {
    gap: 1rem;
  }

  /* .featured__logos--list {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
  } */

  .featured__logos--list img {
    height: 1.5rem;
  }

  .testimonials__block--gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* html {
    font-size: 96%;
  }
} */
/* 768 PX SCREEN SIZE */
/* 768 PX SCREEN SIZE */
/* 768 PX SCREEN SIZE */
@media only screen and (max-width: 768px) {
  .menu-close,
  .menu-open {
    width: 3rem;
    height: auto;
  }

  .testimonials {
    padding: 5rem 1.5rem;
  }

  .testimonials__cluster {
    grid-template-columns: 1fr;
  }

  .testimonials__block--gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .testimonials__block--gallery .gallery--item:nth-child(n + 7) {
    display: none;
  }

  .featured__logos--list {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.25em;
  }
  .features__list {
    flex-wrap: wrap;
    padding-bottom: 0;
  }

  .features__block {
    margin: 0 auto;
    padding: 0 1em;
    align-items: center;
    justify-content: center;
  }
  .features__block--paragraph {
    text-align: center;
  }

  .strapline__block--1 {
    grid-template-columns: 1fr;
    margin-bottom: 5rem;
  }

  .strapline__block--1:is(:last-child) {
    margin-bottom: 0;
  }

  .meals.grid--cols-3 {
    grid-template-columns: 1fr;
  }
  .meal__plan--meal-1 {
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
  }

  .call-to-action-form {
    grid-template-columns: 1fr;
    padding-bottom: 0;
  }

  .form-left {
    padding: 5rem 1.5rem 1.5rem 1.5rem;
  }

  .cta-image {
    height: 360px;
    grid-row: 1;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-blend-mode: unset;
    opacity: 100%;
  }

  .pricing__table--1 {
    grid-area: a;
  }
  .pricing__table--2 {
    grid-area: b;
  }

  .pricing__cluster .grid--cols-2 {
    grid-template-areas:
      "a a"
      "b b";
  }

  .block--app-images {
    grid-area: bottom;
  }

  .block--text {
    grid-area: top;
  }

  .block--2.grid--cols-2 {
    grid-template-areas:
      "top top"
      "bottom bottom";
  }
}

/* 390 PX SCREEN SIZE */
/* 390 PX SCREEN SIZE */
/* 390 PX SCREEN SIZE */

@media only screen and (max-width: 490px) {
  .features__list {
    flex-direction: column;
  }

  .meal__plan--meal-1 {
    width: 100%;
  }

  .hero-text h1 {
    width: 100%;
  }

  h2 {
    text-align: center;
  }

  .hero-text p {
    width: 100%;
  }

  .header {
    padding: 0 1rem;
  }

  .cta-buttons {
    flex-direction: column;
  }

  .cta-hero--secondary {
    width: 100%;
  }

  .img-1 {
    margin: 0;
    width: 100vw !important;
  }

  .testimonials__cluster {
    grid-template-columns: 1fr;
  }

  .testimonials__block--gallery {
    grid-template-columns: 1fr 1fr;
  }

  .testimonials__block--gallery .gallery--item:nth-child(n + 5) {
    display: none;
  }

  footer {
    background-color: #fdf2e9;
  }

  input,
  select {
    padding: 1.25rem;
    background-color: #fdf2e9;
  }

  .form-left {
    padding: 3rem 1.5rem 1.5rem 1.5rem;
    background-color: #fff;
  }

  .form-cta--button {
    background-color: #e67e22 !important;
    color: #fff;
  }

  .pricing__cluster .grid--cols-4 {
    grid-template-columns: 1fr;
  }

  .pricing__features--benefits {
    background-color: #fdf2e9;
    padding: 1.5rem 1rem;
    width: 100%;
  }

  .icon__container--2 {
    background-color: #fff;
  }

  .sub-heading {
    align-items: center;
    width: 100%;
  }

  .testimonials {
    padding: 2.5rem 1rem;
  }

  .sub-heading h2 {
    text-align: center;
    width: 100%;
  }
  .pricing__heading {
    text-align: center;
  }

  .pricing__table p {
    text-align: center;
  }

  .container {
    padding: 2.5rem 1rem;
  }
  .pricing__table--2::before {
    padding: 0.5rem 5rem;
    right: -18%;
    /* top: 5%; */
  }
}
